.header {
    background-color: rgb(0, 191, 255);
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    color: #333;
    padding: 10px;
}

.header h1:hover {
    cursor: pointer;
}